{% load static %}
 
<link rel="stylesheet" href="{% static 'StorePharma/css/boot.min.css' %}">
{% load custom_tag %}  
{% if user.is_authenticated %}  
       {% block content %} 
       <div class="container"> 
        <h2 class="heading"> Change <span style="color: rgb(230, 6, 6);"> Password </span></h2>
       <form action="{% url 'changePassword' %}"  method="post"  enctype="multipart/form-data">
           {% csrf_token %}
           {% if messages %}
           <ul class="messages">
           {% for message in messages %}
               <li {% if message.tags %} style="color: rgb(230, 6, 6);" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
           {% endfor %}
           </ul>
           {% endif %}  
           <div class="row">
               <div class="col-md-6">
                   <h2 class="form-control" for="reset-email ">Your email address *</h2>
                   <input type="email" value="{{user.email}}" class="form-control" id="reset-email" name="reset-email" readonly>
               </div> 
               
           </div>
           <br>
           <div class="row">
            <div class="col-md-6">
                <h2 class="form-control" for="reset-password ">Old Password *</h2>
                <input type="password"  class="form-control" id="reset-password" name="reset-password" required>
            </div>  
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h2 class="form-control" for="reset-newPassword">New Password *</h2>
                <input type="password" class="form-control" id="reset-newPassword" name="reset-newPassword" required>
            </div>  
            <div class="col-md-6">
                <h2 class="form-control" for="Conf-forgot-password">Confirm New Password *</h2>
                <input type="password" class="form-control" id="Conf-reset-password" name="Conf-reset-password" required>
            </div>  
        </div>

           <div class="form-footer"  style="max-width: 45%;">
               <button type="submit" class="btn " >
                   <span>Request Change </span> <span class="material-icons">password</span>
               </button> 
           </div><!-- End .form-footer -->
           
       </form>  
    </div>
   {% endblock %} 

{% endif %}  