 {% load static %}
 
 <link rel="stylesheet" href="{% static 'StorePharma/css/boot.min.css' %}">
{% load custom_tag %}  
{% if user.is_authenticated %}  
        {% block content %} 
        <center class="container"> 
        <form action="{% url 'changePassword' %}"  method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} style="color: rgb(230, 6, 6);" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}  
            <div class="row">
                <div class="col-md-3">
                    <h2 class="form-control" for="reset-email ">Your email address *</h2>
                </div> 
                <div class="col-md-2">
                    <input type="email" value="{{user.email}}" class="form-control" id="reset-email" name="reset-email" readonly>
                </div> 
            </div>

            <div class="form-footer"  style="max-width: 45%;">
                <button type="submit" class="btn " >
                    <span>Request Change </span> <span class="material-icons">password</span>
                </button> 
            </div><!-- End .form-footer -->
            
        </form>  
    </center>
    {% endblock %} 

{% endif %}  
</body>


<!--  login.html  22 Nov 2019 10:04:03 GMT
 
                                            <label for="reset-email ">Your email address *</label>
                                            <input type="email" value="{{user.email}}" class="form-control" id="reset-email" name="reset-email" readonly>

                                            <label for="reset-password ">Old Password *</label>
                                            <input type="password" class="form-control" id="reset-password" name="reset-password" required>

                                                <label for="reset-newPassword">New Password *</label>
                                                <input type="password" class="form-control" id="reset-newPassword" name="reset-newPassword" required>
 
                                                <label for="Conf-forgot-password">Confirm New Password *</label>
                                                <input type="password" class="form-control" id="Conf-reset-password" name="Conf-reset-password" required>

                                        <div class="form-footer"  style="max-width: 45%;">
                                            <button type="submit" class="btn " >
                                                <span>Request Change </span> <span class="material-icons">password</span>
                                            </button> 
                                        </div> 
                                            -->
</html>