<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'StorePharma/css/optionlist.css' %}">
 
</head>
<body>
    <form action="{% url 'update_list_type' %}"  method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <h1  class="titleBox"> Update Type  "<input id="id_Img" class="fit-content" style="color: red; background-color: transparent;" name="id_Img" value="{{show_med.Medicine_ID}}" readonly>" </h1>
            
            <label><h3> Medicine Type</h3></label>
            <div class="block">
                {% for list in obj_Option %}
                {% if list.Option_ID == show_med.Med_Type %} 
                <input type="text" name="medType" placeholder="Medicine Type" name="medType" value="{{list.type_List}}" class="input-res">  
                <input type="text" name="type_ID" value="{{show_med.Med_Type}}" hidden>
                {% endif %}
                {% endfor %} 
            </div>
            <input type="submit" class="btn" value="Update List">
    </form>  
</body>
</html>