<!DOCTYPE html>
<html lang="en">

<!--  home.html  22 Nov 2019 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Pharma Pill</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Pharma Pill">
    <meta name="author" content="p-themes"> 

    <!-- Favicon   -->
    {% load static %}  
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'StorePharma/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'StorePharma/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'StorePharma/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'StorePharma/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'StorePharma/icons/favicon.png' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'StorePharma/icons/favicon.png' %}">
    <meta name="msapplication-config" content="{% static 'StorePharma/icons/favicon.png' %}"> 

    <link rel="font-awesome" href="{% static 'StorePharma/fonts/flaming/flaming-webfont.woff2' %}">
    <link rel="font-awesome" href="{% static 'StorePharma/fonts/flaming/flaming-webfont.woff' %}">

    <meta name="apple-mobile-web-app-title" content="Pharma Pill">
    <meta name="application-name" content="Pharma Pill">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'StorePharma/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'StorePharma/css/admincontrol.css' %}">
  </head>
<body>
 
    {% include 'Menu/header.html' %}    
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <h2>
            <li {% if message.tags %} style="color: rgb(230, 6, 6);" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          </h2>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="profile-page">
      <div class="content">
        <div class="content__cover">
           <img src="{{BASIC_DIR}}/Auth/media/{{Profile_view.db_photo}}" class="content__avatar" width="50px" height="50px">
          
          <div class="content__bull"><span></span><span></span><span></span><span></span><span></span>
          </div>
        </div>
        <div class="content__actions"><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
              <path fill="currentColor" d="M192 256A112 112 0 1 0 80 144a111.94 111.94 0 0 0 112 112zm76.8 32h-8.3a157.53 157.53 0 0 1-68.5 16c-24.6 0-47.6-6-68.5-16h-8.3A115.23 115.23 0 0 0 0 403.2V432a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48v-28.8A115.23 115.23 0 0 0 268.8 288z"></path>
              <path fill="currentColor" d="M480 256a96 96 0 1 0-96-96 96 96 0 0 0 96 96zm48 32h-3.8c-13.9 4.8-28.6 8-44.2 8s-30.3-3.2-44.2-8H432c-20.4 0-39.2 5.9-55.7 15.4 24.4 26.3 39.7 61.2 39.7 99.8v38.4c0 2.2-.5 4.3-.6 6.4H592a48 48 0 0 0 48-48 111.94 111.94 0 0 0-112-112z"></path>
            </svg><span>Connect</span></a><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path fill="currentColor" d="M208 352c-41 0-79.1-9.3-111.3-25-21.8 12.7-52.1 25-88.7 25a7.83 7.83 0 0 1-7.3-4.8 8 8 0 0 1 1.5-8.7c.3-.3 22.4-24.3 35.8-54.5-23.9-26.1-38-57.7-38-92C0 103.6 93.1 32 208 32s208 71.6 208 160-93.1 160-208 160z"></path>
              <path fill="currentColor" d="M576 320c0 34.3-14.1 66-38 92 13.4 30.3 35.5 54.2 35.8 54.5a8 8 0 0 1 1.5 8.7 7.88 7.88 0 0 1-7.3 4.8c-36.6 0-66.9-12.3-88.7-25-32.2 15.8-70.3 25-111.3 25-86.2 0-160.2-40.4-191.7-97.9A299.82 299.82 0 0 0 208 384c132.3 0 240-86.1 240-192a148.61 148.61 0 0 0-1.3-20.1C522.5 195.8 576 253.1 576 320z"></path>
            </svg><span>Message</span></a></div>
        <div class="content__title">
          <h1>{{user.first_name}} {{user.last_name}} </h1><span><a href="mailto:{{user.email}}">{{user.email}}</a></span>
        </div>
        {% if user.is_staff %} 
        {% for about in obj_about %}
        <div class="content__description"> 
          <p><a href="https://www.google.com/maps/dir//{{about.about_address}}" title="Click me to link address"> <address>{{about.about_address}} </address></a> </a> </p>
        </div>
        <ul class="content__list"> 
          <li><span><a href="tel:{{about.about_contact}}"  title="Click me to Dial Call">{{about.about_contact}} </a></span>Contact</li> 
        </ul>
        {% endfor %}
        <div class="content__button"><a class="button" >
          <div class="button__border"></div>
          <div class="button__bg"></div>
          <p class="button__text">Staff</p></a>
        </div>
        {% else %}
        <div class="content__description">
          <p>{{Profile_view.db_gender}}</p>
          <p><a  href="https://www.google.com/maps/dir//{{Profile_view.db_address}}, {{Profile_view.db_address_Country}}">{{Profile_view.db_address}} {{Profile_view.db_address_Country}}</a></p>
        </div>
        <ul class="content__list">
          <li><span>{{Profile_view.db_date_DoB}}</span>Date of Birth</li>
          <li><span><a href="tel:{{Profile_view.db_phoneNumber}}">{{Profile_view.db_phoneNumber}}</a></span>Contact</li> 
        </ul>
        <div class="content__button"><a class="button"  id="show">
            <div class="button__border"></div>
            <div class="button__bg"></div>
            <p class="button__text">Edit Profile</p></a>
          </div>
          {% endif %}
      </div>
      <div class="bg">
        <div><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>  
    </div>
    <div class="center hideform boxed "  >
       
          {% include 'User/profile_Update.html' %}
        
        </form>
     
  </div>
   
     </div>
    
    
     {% include 'User/User_report.html' %}
     

    
  {% include 'Menu/footer.html' %}

  
<script src="{% static 'StorePharma/js/profile.js' %}"></script>
<script>


  
$('#show').on('click', function () {
      $('.center').show();
      $(this).hide();
  })
  $('#close').on('click', function () {
      $('.center').hide();
      $('#show').show();
  }) 

</script>
 

</body>

</html>